body{
  background-color: rgb(202, 244, 239);
  font-family: "Poppins", sans-serif;
}

.list-container, .main-container, .item-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  flex-direction: column;
}

.title-container{
  background-color: rgb(95, 116, 212);
  color: white;
  width: 28rem;
  padding: 0.7rem 1rem;
  margin: 1rem 0rem;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.title-container>span{
  grid-column: span 2;
}

.icon-container{
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}

.icon-container>*, .icon-button{
  height: 1.5rem;
  width: auto;
}

.icon-button{
  background-color: transparent;
  border: none;
}

.icon-button.dark{
  color: white;
}

.icon-button>*{
  height: 1.1rem;
  width: auto;
}

.list-container{
  flex-direction: column;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(222, 222, 222),
              -0.1rem -0.1rem 0.2rem 0.1rem rgb(222, 222, 222),
              -0.1rem 0.1rem 0.2rem 0.1rem rgb(222, 222, 222),
              0.1rem -0.1rem 0.2rem 0.1rem rgb(222, 222, 222);
  width: 29.8rem;
  padding: 1.5rem 0rem;
}

.list-container.dark{
  background-color: rgb(63, 63, 63);
  color: white;
}

.list-container>button{
  background-color: rgb(95, 116, 212);
  color: white;
  font-family: "Poppins";
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.6rem;
}

.list-container>button:hover{
  background-color: rgb(65, 80, 142);
}

.list-container>button:active{
  background-color: rgb(95, 116, 212);
}

.list-container>input{
  margin-top: 0.5rem;
  font-size: large;
  width: 15rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid rgb(215, 215, 215);
}

.list{
  max-height: 30rem;
  overflow-y: auto;
}

.item-container{
  padding: 0.5rem 0rem;
}

.item-container>span{
  width: 16rem;
  height: auto;
  margin-left: 0.5rem;
}

.hide{
  visibility: hidden;
}